:root {
	--primary-color: #141B4D;
	--darkened-primary-color: rgb(from var(--primary-color) calc(r * .75) calc(g * .75) calc(b * .75));
	/* --background-color: rgb(from var(--primary-color) calc(r / 2) calc(g / 2) calc(b / 2)); */
	--background-color: #171717;
	--white: #ffffff;
	--accent-color: #0047BB;
	--accent-color2: #93CFFB;
	--circular-out: cubic-bezier(0.075, 0.82, 0.165, 1);
	
	font-family:ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	color: white;
	font-size: x-large;
}

.bg {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -10;
}

button {
	display: flexbox;
	font: inherit;
	color: inherit;
	/* font-family:'Courier New', Courier, monospace;
	color: white;
	font-size: inherit; */
}

html {
	background-color: var(--background-color);
}

small {
	font-size: small;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.unscroll {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
}

.doc {
	display: flex;
	position: absolute;
	width: 200%;
	height: 100%;
	left: 0;
	top: 0;
	transition: translate 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.clear {
	--hover-intensity: 4;
	--click-intensity: 2;
	--click-color-intensity: 1;

	background-color: color-mix(var(--color) calc(2% * var(--intensity)), transparent);
	/* background-color: color-mix(var(--accent-color2) 10%, transparent); */
	border-radius: 1rem;
	border-style: solid;
	border-color: rgba(255, 255, 255, calc(0.2 / var(--intensity)));
	/* border-color: color-mix(var(--color) calc(20% * var(--intensity)), transparent); */
	display: block;
	position: relative;
	border-width: 1px;
	box-shadow:0px 0px 30px rgba(0, 0, 0, 0.25);
	transition: translate 1s var(--circular-out), scale 0.3s var(--circular-out), background-color 0.5s;
}

button.clear {
	--hover-intensity: 16;
	--click-intensity: 48;
	--click-color-intensity: 4;
}

.white {
	--color: rgb(255, 255, 255);
	--intensity: 1;
}

.black {
	--color: rgb(0, 0, 0);
	--intensity: 2;
}

.clear:hover {
	background-color: color-mix(var(--color) calc(5% * var(--intensity)), transparent);
	translate: 0px calc(var(--hover-intensity) * 1px);
	scale: calc(1 - var(--xScale) * var(--hover-intensity)) calc(1 - var(--yScale) * var(--hover-intensity));
}

.clear:active {
	background-color: color-mix(var(--color) calc(5% * var(--intensity) * var(--click-color-intensity)), transparent);
	translate: 0px calc(var(--click-intensity) * 1px);
	scale: calc(1 - var(--xScale) * var(--click-intensity)) calc(1 - var(--yScale) * var(--click-intensity));
	transition: translate 1s var(--circular-out), scale 0.3s var(--circular-out);
}