:root {
	--primary-color: #141B4D;
	--darkened-primary-color: rgb(from var(--primary-color) calc(r * .75) calc(g * .75) calc(b * .75));
	/* --background-color: rgb(from var(--primary-color) calc(r / 2) calc(g / 2) calc(b / 2)); */
	--background-color: #171717;
	--white: #ffffff;
	--accent-color: #0047BB;
	--accent-color2: #93CFFB;
	--circular-out: cubic-bezier(0.075, 0.82, 0.165, 1);
	
	font-family:ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	color: white;
	/* font-size: large; */
	/* font-size: 18px; */
	font-size: 0.85vw;
	/* overflow: visible; */
}

.bg {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -10;
}

button {
	display: flexbox;
	font: inherit;
	color: inherit;
	/* font-family:'Courier New', Courier, monospace;
	color: white;
	font-size: inherit; */
}

button:hover {
	cursor: pointer;
}

html {
	background-color: var(--background-color);
}

small {
	font-size: 0.5em;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

label {
	font-size: 0.75em;
	text-align: center;
	width: 10ch;
	position: absolute !important;
	top: 0%;
	left: 0%;
	transform: translate(0, -100%);
	--intensity: 4 !important;
	text-shadow: var(--primary-color) 0px 0px 4px;
}

.unscroll {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}

.doc {
	display: flex;
	position: absolute;
	width: 200%;
	height: calc(95% - 2px);
	left: 0;
	bottom: 2px;
	transition: translate 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.clear {
	--hover-intensity: 2;
	--click-intensity: 1;
	--click-color-intensity: 1;

	background-color: color-mix(var(--color) calc(2% * var(--intensity)), transparent);
	/* background-color: color-mix(var(--accent-color2) 10%, transparent); */
	border-radius: 1rem;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.2);
	/* border-color: color-mix(var(--color) calc(20% * var(--intensity)), transparent); */
	display: block;
	position: relative;
	border-width: 1px;
	box-shadow:0px 0px 30px rgba(0, 0, 0, 0.25);
	transition: translate 1s var(--circular-out), scale 0.3s var(--circular-out), background-color 0.5s;
	scrollbar-width: thin;
	scrollbar-color: var(--white) rgba(0, 0, 0, 0);
}

a {
	color: var(--accent-color);
	transition: color 0.3s;
}

a:hover {
	color: var(--accent-color2);
}

button.clear {
	--hover-intensity: 16;
	--click-intensity: 48;
	--click-color-intensity: 4;
}

.white {
	--color: rgb(255, 255, 255);
	--intensity: 1;
}

.black {
	--color: rgb(0, 0, 0);
	--intensity: 2;
}

.clear:hover {
	background-color: color-mix(var(--color) calc(5% * var(--intensity)), transparent);
	translate: 0px calc(var(--hover-intensity) * 1px);
	scale: calc(1 - var(--xScale) * var(--hover-intensity)) calc(1 - var(--yScale) * var(--hover-intensity));
}

.clear:active {
	background-color: color-mix(var(--color) calc(5% * var(--intensity) * var(--click-color-intensity)), transparent);
	translate: 0px calc(var(--click-intensity) * 1px);
	scale: calc(1 - var(--xScale) * var(--click-intensity)) calc(1 - var(--yScale) * var(--click-intensity));
	transition: translate 1s var(--circular-out), scale 0.3s var(--circular-out);
}

@keyframes projectIn {
	0% {scale: 0.5};
	100% {scale: 1.0};
}

.project13 {
	height: calc(100%/2 - 2px);
	aspect-ratio: 1;
	align-items: flex-start;
	display: flex;
	animation: projectIn 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.projectInfo {
	top: 2%;
	left: 1%;
	align-items: flex-start;
	display: flex;
	height: 10%;
	width: 98%;
	position: absolute;
}

.projectButton {
	--click-intensity: 24 !important;
	--hover-intensity: 6 !important;
	--intensity: 4 !important;

	position: inline;
	height: 100%;
	aspect-ratio: 1;
	margin-left: 1%;
	margin-right: 1%;
}

.projectName {
	width: 100%;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.25em;
	margin-left: 1%;
	margin-right: 1%;
}

.projectCommits {
	width: calc(96% - 2px);
	height: 7%;
	bottom: 2%;
	left: 2%;
	position: absolute;
	display: flex;
	flex-direction: row-reverse;
}

.commitHover {
	--intensity: 8 !important;
	--hover-intensity: 1 !important;
	background-color: rgba(0, 0, 0, .3);
	width: 1000%;
	text-align: center;
	left: 50%;
	top: 100%;
	position: absolute;
	transform: translate(-50%, 0%) scale(0, 0);
	transition: transform 0.5s, background-color 0.5s;
	scale: 1 1 !important;
}

h1, h2, h3, h4, h5 {
	margin-top: 0;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

p {
	margin: 0;
}

date {
	font-size: 0.6em;
}

aboutHeader {
	font-size: calc(1.4 * 1.2em);
	font-weight: bold;
	margin-top: 16px;
	margin-bottom: 0;
	width: 100%;
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

about {
	font-size: 0.85em;
	margin-bottom: 6px;
	width: 100%;
	display: block;
}

commitInstance:hover .commitHover {
	transform: translate(-50%, 0%) scale(1, 1);
}

commitInstance {
	width: calc(10% - 8px);
	margin: 4px;
}

.filled {
	background-color: var(--accent-color) !important;
}

.projectReadme {
	width: calc(96% - 2px);
	padding: 10px;
	box-sizing: border-box;
	height: 75%;
	top: 14%;
	left: 2%;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
}

padding {
	/* width: 10px; */
	height: 100%;
	aspect-ratio: 0.01;
}

@keyframes popInWhite {
	to {opacity: 0;};
}

.popIn {
	width: 100%;
	height: 100%;
	border-radius: 1rem;
	position: absolute;
	background-color: white;
	z-index: 10;
	animation: popInWhite 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
	pointer-events: none;
	-webkit-animation: popInWhite 2s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.language {
	width: 100%;
	aspect-ratio: 1;
	transform: scale(0.8, 0.8);
}

img {
	width: 100%;
}

.languageImage {
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%) scale(0.7);
	width: 100%;
	aspect-ratio: 1;
	object-fit: scale-down;
	border-radius: 1rem;
	transition: transform 0.3s;
}

.languageText {
	position: absolute;
	width: 100%;
	bottom: 0;
	translate: 0% 50%;
	font-weight: bold;
	text-align: center;
	transition: bottom 0.3s;
	z-index: 1;
}

.languageProgress {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: conic-gradient(var(--accent-color2) 0, var(--accent-color) calc(var(--percent) * 1%), #00000000 0deg);
	mask-image: url("/assets/images/progressMask.svg");
	mask-size: cover;
	z-index: -10;
	position: absolute;
	transition: scale 0.3s;
}

.languageRating {
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	text-shadow: black 0px 0px 8px;
	position: absolute;
	font-size: 2em;
	font-weight: bolder;
	scale: 0;
	transition: scale 0.6s;
	z-index: 1;
}

.language:hover .languageImage {
	transform: translate(-50%, -50%) scale(0.5);
}

.language:hover .languageText {
	bottom: -15%;
}

.language:hover .languageProgress {
	scale: 1.3;
}

.language:hover .languageRating {
	scale: 1.0;
}

.aboutSection {
	--a-ratio: 1/2.6;
	height: 100%;
	aspect-ratio: var(--a-ratio);
}

#name {
	font-size: 1.5em;
	width: 100%;
	height: 10%;
	font-weight: bold;
	--intensity: 10;
	--click-color-intensity: 1.2;
	position: absolute;
}

#portrait {
	border-radius: 1rem;
	width: 96%;
	height: calc(96% * var(--a-ratio));
	top: calc(2% * var(--a-ratio));
	left: 2%;
	position: absolute;
	z-index: -2;
}

#about {
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	width: 95%;
	height: calc(98% * (1 - var(--a-ratio)));
	bottom: calc(2.5% * var(--a-ratio));
	left: 2.5%;
	position: absolute;
}

#projects {
	height: 100%;
	aspect-ratio: 1.5;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#experience {
	height: 100%;
	aspect-ratio: 1;
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
}

#languages {
	width: 98%;
	left: 0.67%;
	top: 1%;
	display: flex;
	position: absolute;
}

#bottomBar {
	height:50%;
	width: 200%;
	bottom: 0;
	left: 50%;
	translate: -50% 92%;
	position: fixed;
	--intensity: 10;
	z-index: 1;
}

#bottomBarDisplay {
	height: 10%;
	width: 100%;
	top: 0%;
	position: absolute;
	transition: rotate 0.5s;
	font-size: 2em;
}

#bottomBarDiv {
	height: 10%;
	width: 50%;
	left: 25%;
	top: 10%;
	position: absolute;
	font-size:0.875em;
	display: flex;
}

.bottomBarSpan {
	width: 100%;
}

.bottomBarDivider {
	width: 10%;
}

#topBar {
	height: 10%;
	width: 200%;
	top: 0;
	left: 50%;
	translate: -50% -50%;
	position: fixed;
	--intensity: 16;
	z-index: -1;
}

#labels {
	bottom: 0;
	width: 50%;
	left: 25%;
	position: fixed;
}

#topHeader {
	margin-top: 0px !important;
}

error {
	font-size: xx-large;
	font-weight: bolder;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex !important;
	position: absolute !important;
	padding: 1%;
	flex-direction: column;
}

errorSub {
	font-size: medium;
	position:relative;
}